.sb-show-main.sb-main-padded {
  padding: 0;
}

#storybook-docs .root-container {
  display: flex;
  place-content: center;
  height: auto;
  width: auto;
}

.root-container {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
}
